<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-show">
  <div class="container">
    <div class="section-title">
      <h2>Portfolio</h2>
      <p>My Works</p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li class="filter-active">All</li>
          <li>Web App</li>
          <li>Server</li>
          <li>Others</li>
        </ul>
      </div>
    </div>

    <!-- <div class="row portfolio-container">
      <div class="col-lg-4 col-md-6 portfolio-item" *ngFor="let i of [1, 2, 3]">
        <div class="portfolio-wrap">
          <img src="../../content/images/cute-dog.jpeg" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>App</p>
            <div class="portfolio-links">
              <a href="../../content/images/cute-dog.jpeg" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
              <a class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div style="margin-top: 15px">
      <div class="row">
        <div style="display: flex; flex-direction: column; padding: auto; justify-content: center; align-items: center">
          <h1>This page is not finished yet</h1>
          <p>
            Please visit my Github at this moment:
            <a href="https://github.com/longlhh90" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
          </p>
          <span class="maintaining img-fluid rounded"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Section -->
