<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="education">
      <h2 data-cy="educationDetailsHeading"><span jhiTranslate="personalWebsiteApp.education.detail.title">Education</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ education.id }}</span>
        </dd>
        <dt><span jhiTranslate="personalWebsiteApp.education.institution">Institution</span></dt>
        <dd>
          <span>{{ education.institution }}</span>
        </dd>
        <dt><span jhiTranslate="personalWebsiteApp.education.countryName">Country Name</span></dt>
        <dd>
          <span>{{ education.countryName }}</span>
        </dd>
        <dt><span jhiTranslate="personalWebsiteApp.education.yearGraduate">Year Graduate</span></dt>
        <dd>
          <span>{{ education.yearGraduate }}</span>
        </dd>
        <dt><span jhiTranslate="personalWebsiteApp.education.major">Major</span></dt>
        <dd>
          <span>{{ education.major }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/education', education.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
