<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <h1>Lukas Le</h1>
    <h2>I'm a Software Developer In Saskatoon City</h2>
    <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <div class="row">
    <div class="col-md-3">
      <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
      <h1 class="display-4">Welcome to my personal website!</h1>

      <p class="lead">This is nothing here but everything will be here soon</p>
      <div *ngIf="meInfo">
        <p>{{ meInfo.formalName }}</p>
        <p>{{ meInfo.legalName }}</p>
        <p>{{ meInfo.aboutMeShort }}</p>
        <p>{{ meInfo.aboutMe }}</p>
      </div>
    </div>
  </div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</main>
