<div>
  <h2 id="page-heading" data-cy="EducationHeading">
    <span jhiTranslate="personalWebsiteApp.education.home.title">Educations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="personalWebsiteApp.education.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-education"
        [routerLink]="['/education/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="personalWebsiteApp.education.home.createLabel"> Create a new Education </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="educations?.length === 0">
    <span jhiTranslate="personalWebsiteApp.education.home.notFound">No educations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="educations && educations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="personalWebsiteApp.education.institution">Institution</span></th>
          <th scope="col"><span jhiTranslate="personalWebsiteApp.education.countryName">Country Name</span></th>
          <th scope="col"><span jhiTranslate="personalWebsiteApp.education.yearGraduate">Year Graduate</span></th>
          <th scope="col"><span jhiTranslate="personalWebsiteApp.education.major">Major</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let education of educations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/education', education.id, 'view']">{{ education.id }}</a>
          </td>
          <td>{{ education.institution }}</td>
          <td>{{ education.countryName }}</td>
          <td>{{ education.yearGraduate }}</td>
          <td>{{ education.major }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/education', education.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/education', education.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(education)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
